div {
	overflow: hidden;
    height: 150px;
}
*{
	box-sizing:border-box;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#menu{
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.box{
	text-align: left;
	background-color:#999;
	border: solid 1px;
	float: left;
	padding: 5px;
	margin-left:25px;
	width: 31%
	
}
div > div{
	background-color: pink;
	border: solid 2px;
	padding:auto;
}
h2{
	text-align: center;
	max-width: 30%;
	min-width: 100px;
	margin: 0;
	margin-left: auto;
	margin-right: -5px;
	margin-top: -5px;
    border: solid 1px #000;
    
	}
#C{
	background-color: #D59898;
}
#B{
	background-color: #C14543;
	color: #fff;
}
#S{
	background-color: #E5D198;
}